@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  <p>Design and programming as equally creative activities. CleverDesign is one of the top web development and graphic design firms in NYC. We develop websites, blast email campaigns, pitchbooks, logos, and an array of marketing materials for firms of all sizes.</p>
</div>
